{% extends 'base.html.twig' %}

{% block title %}OnEmploie.com{% endblock %}

{% block body %}
    <section>
        <h1>OnEmploie.com</h1>
        <p>(Côté entreprise)</p>
        <h3>Bienvenue sur OnEmploie.com !</h3>
        <a href="/register">S'inscrire</a>
        <a href="/login">Se connecter</a>
        <a href="/logout" style="color:red;">Se déconnecter</a>
    </section>
{% endblock %}
