{% extends 'base.html.twig' %}

{% block title %}Modification d'offre{% endblock %}

{% block body %}
    <h1>Modifier l'offre :</h1>
    {{ form_start (form) }}
        {{ form_widget (form) }}
        <button type="submit">Modifier</button>
    {{ form_end (form) }}
{% endblock %}
