@font-face {
    font-family: Montserrat;
    src: url(fonts/static/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
}

body {
    background-color: lightgray;
}

#success, #error{
    padding: 1em 2em;
    background-color: green;
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#error{
    background-color: red;
}
