#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;

    div{
        width: 75%;
        display: flex;
        justify-content: center;
        padding: 2em 0;

        a{
            padding: 10em;
            background-color: lightblue;
            color: black;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
        }

        a:hover{
            background-color: black;
            color: lightblue;
        }

        #aLeft{
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
        }

        #aRight{
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
        }
    }
}