<header>
    <nav>
        <a href="/"><h3>OnEmploie.com</h3></a>
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_USER') %}
                    <a href="/addOffre">Ajouter une offre</a>
                    <a href="/allOffres">Voir les offres</a>
                    <a href="/logout" style="color:red;">Se déconnecter</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
</header>