<header>
    <nav>
        <a href="/"><h3>OnEmploie.com</h3></a>
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_USER') %}
                    <a href="/addOffre">Ajouter une offre</a>
                    <a href="/allOffres">Voir les offres</a>
                    <a href="/user/offers">Voir mes offres</a>
                    <a href="/logout" style="color:red;">Se déconnecter</a>
                {% elseif is_granted('ROLE_CANDIDATE') %}
                    <a href="/candidate">Profil</a>
                    <a href="/candidate/offers">Offres</a>
                    <a href="/logout" style="color:red;">Se déconnecter</a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="/allOffres">Voir les offres</a>
                    <a href="/admin">Dashboard Admin</a>
                    <a href="/logout" style="color:red;">Se déconnecter</a>
                {% endif %}
            {% else %}
                <a href="/login">Se connecter</a>
            {% endif %}
        </div>
    </nav>
</header>